name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches:
      - "*"

jobs:

  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        go-version: [ 1.18.x, oldstable, stable ]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}


      - name: Get dependencies
        run: |
          go mod download
          go get github.com/go-pg/pg/v9

      - name: Test
        run: go test -race -cover -coverprofile=coverage -covermode=atomic ./...

      - name: Coverage
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage

      - name: Build
        run: go build -v .
